body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: rgb(52, 56, 53);
    background-size: cover;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 20px;
}

.selection-card {
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    backdrop-filter: blur(10px);
    background: #cccccc7e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection-card input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 5px solid #ccc;
    text-align: center;
}

.btn-primary {
    font-weight: 200;
    font-size: medium;
    background-color: #73ace9;
    color: #0e0000;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
}

.btn-primary :hover {
    background-color: #0056b3;
}

.weather-card {
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: +#cccccc7e;
}

.weather-card h1 {
    margin: 0;
    padding: 0;
}

.weather-card h2 {
    margin: 0;
    padding: 0;
}

.weather-card i {
    font-size: 30px;
    margin: 0;
    padding: 0;
}